<footer class="footer">
    <div class="footer-container">
        <div>
            <h3>LINKS</h3>
            <ul>
                <li>
                    <a class="footer-link" href="/">Home</a>
                </li>
                <li>
                    <a class="footer-link" href="/login">Login</a>
                </li>
                <li>
                    <a class="footer-link" href="/about">About</a>
                </li>
            </ul>
        </div>
        <div class="head-foot-text footer-text">
            <h3>FOLLOW US</h3>
            <div class="social-icons">
                <div>
                    <a class="footer-link" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><span class="fa-brands fa-facebook fa-xl"></span></a>
                </div>
                <div>
                    <a class="footer-link" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><span class="fa-brands fa-instagram fa-xl"></span></a>
                </div>
                <div>
                    <a class="footer-link" href="https://twitter.com" target="_blank" rel="noopener no referrer"><span class="fa-brands fa-twitter fa-xl"></span></a>
                </div>
            </div>
        </div>
        <div class="dev-info">
            <h3>About the Developer:</h3>
            <ul>
                <li>
                    <a class="dev-info-item">Prateek Poddar</a>
                </li>
                <li>
                    <a class="dev-info-item" href="mailto:poddarp312@gmail.com">Email Address: poddarp312@gmail.com</a>
                </li>
                <li>
                    <a class="dev-info-item" href="https://www.linkedin.com/in/prateek-poddar-a51566155/" target="_blank">Visit me on LinkedIn.</a>
                </li>
            </ul>
        </div>
        <div class="head-foot-text footer-text">
            <h3>A PRODUCT OF</h3>    
        <a href="https://codesquad.org" target="_blank" rel="noopener noreferrer"><img class="foot-img" alt="CodeSquad.org" src="../img/CodeSquad-logo-b.png"></a>
        </div>
    </div>
</footer>
</body>
</html>