<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <article class="about">
            <h1>What is Guit-archive?</h1>
            <p>    
                Guit-archive is a free tablature web-site consisting of user-made tabs. Unlike other websites we could mention, Guit-archive is and always will be free to use. No subscriptions, no apps, no nonsense - just guitar tabs.
            </p>
            <h1>Who writes the tabs?</h1>
            <p>
                You do! All of our tabs are user-generated. Just create a profile and start uploading tabs from our tab editor.
            </p>
        </article>
    </div>
<%- include('../partials/footer') -%>