<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <article class="welcome">
        <h1>Welcome to Guit-archive!</h1>
        <form class="Search" action="/search" id="searchbar">
            <label for="Search">Search our tabs by typing the name of a song or artist: </label>
            <input type="search" placeholder="Search" id="Search">
            <button type="submit">Search</button>
        </form>
        <p>
            <a href="/tabs">Click here to browse our tabs by song name.</a>
        </p>
        <p>
            <a href="/tabs/artists">Or click here to browse our tabs by artist.</a>
        </p>
        </article>
    </div>
<%- include('../partials/footer') -%> 