<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <form class="form login" action="#">
            <h1>LOGIN</h1>
            <div class="form-field">
                <label for="email">Email address: </label>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <br>
            <div class="form-field">
                <label for="password">Password: </label><input type="password" name="password" id="password" placeholder="Password">
            </div>
            <br>
            <input type="submit" value="Submit" id="submit-button">
        </form>
    </div>
<%- include('../partials/footer') -%>