<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <form action="#" method="post">
            <h1>Upload your own tab!</h1>
            <p>
                <label for="title">Title:</label>
                <input type="text" id="title" value="title">
                <label for="artist"></label>
                <input type="text" id="artist" value="artist">
            </p>
            <p>
                Make sure that your tab/chart is clear and easy to read.
            </p>
            <input class="file=upload" type="file">
            <p>
                <label for="videoLesson">Know a video that teaches how to play this song? Link it here:</label>
                <input id="videoLesson" type="url">
                <input type="submit">
            </p>
        </form>
    </div>
<%- include('../partials/footer') -%>