<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <p>
            This part of the site is still under construction.
        </p>
    </div>
<%- include('../partials/footer') -%>