<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <p>
            Welcome to your profile! <a href="/profile/upload">Click here to upload a new tab/chart.</a>
        </p>
        <form action="/logout" method="post">
            <input type="submit" value="Log Out">
        </form>
    </div>
<%- include('../partials/footer') -%>