<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <form class="form login" action="/register" method="post">
            <h1>SIGN UP</h1>
            <div class="form-field">
                <label for="username">User name: </label>
                <input type="username" name="username" id="username" placeholder="User name">
            </div>
            <br>
            <div class="form-field">
                <label for="password">Password: </label><input type="password" name="password" id="password" placeholder="Password">
            </div>
            <br>
            <input type="submit" value="Sign up" id="submit-button">
            <br>
            <a href="/auth/google">Click here to create an account with Google.</a>
            <br>
            Already have an account? <a href="/login">Click here to sign in!</a>
        </form>
    </div>
<%- include('../partials/footer') -%>