<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <h1>Browse tabs by song name</h1>
        <a href="/artists">Browse tabs by artist name</a>
        <h1>A - C</h1>
        <ul>
            <li>All Along the Watchtower</li>
            <li>Alone In the Dark</li>
            <li>Blue Telescope</li>
            <li>Buffalo River Home</li>
            <li>Crossing Muddy Waters</li>
        </ul>
    <h1>D - F</h1>
        <ul>
            <li>Drive South</li>
            <li>Feels Like Rain</li>
        </ul>
    <h1>G - I</h1>
        <ul>
            <li>Georgia Rae</li>
            <li>Have A Little Faith In Me</li>
            <li>Icy Blue Heart</li>
        </ul>
    <h1>J - L</h1>
        <ul>
            <li>Knockin' On Heaven's Door</li>
            <li>Lipstick Sunset</li>
            <li>Loving A Hurricane</li>
        </ul>
    <h1>M - O</h1>
        <ul>
            <li>Memphis in the Meantime</li>
            <li>Old Habits</li>
        </ul>
    <h1>P - S</h1>
        <ul>
            <li>Paper Thin</li>
            <li>Perfectly Good Guitar</li>
            <li>Ride Along</li>
            <li>Sad But True</li>
            <li><a href='/tabs/:tabId'>Slow Turning</a></li>
            <li>Stood Up</li>
        </ul>
    <h1>T - V</h1>
        <ul>
            <li>Tennesee Plates</li>
            <li>Thank You Girl</li>
            <li>Thing Called Love</li>
            <li>Trudy and Dave</li>
        </ul>
    <h1>W - Z</h1>
        <ul>
            <li>When You Hold Me Tight</li>
            <li>Wrote It Down and Burned It</li>
            <li>Your Dad Did</li>
        </ul>
    <br>
    <a href="/artists">Browse tabs by artist name</a>
    </div>
    <div class="scroll-up-container">
        <div class="scroll-up" onclick="scrollUp()">
            Back to top
        </div>
    </div>
<%- include('../partials/footer') -%>