<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <article class="about">
            <h1>Slow Turning (John Hiatt)</h1>
            <article class="tab-text">
            <p>VERSE 1</p>       
            <p>C  F  Bb  F                           C  F  Bb  F</p>
            <p>When I was a boy………. I thought it just came to ya</p>
            <p>But I never could tell what's mine, so it didn't matter anyway</p>
            <p>My only pride and joy was this racket down here</p>
            <p>Banging on an old guitar, singin' what I had to say.</p>
            <br>
            <p>G</p>
            <p>I always thought our house was haunted</p>
            <p>Dm                          F    C</p>
            <p>'Cause nobody said 'boo' to me</p>
            <p>G</p>
            <p>I never did get what I wanted</p>
            <p>Dm                             F</p>
            <p>But now I get what I need</p>
            <br>
            <p>CHORUS:</p>
            <p>        C  F  Bb  F                        C  F  Bb  F</p>
            <p>It's been a slow turning … ……from the inside out</p>
            <p>A slow turning baby but you come about</p>
            <p>A slow learning but you learn to sway, a hey, hey, hey</p>
            <p>A slow turning baby not fade away, not fade away, not fade away</p>
            <br>
            <p>VERSE 2</p>
            <p>C  F  Bb  F                           C  F  Bb  F</p>
            <p>Now I'm in my car,……… ooh I've got the radio down</p>
            <p>And I'm yellin' at the kids in the back, cause they're banging like Charlie Watts</p>
            <p>You think you come so far in this one horse town</p>
            <p>Then she's laughing  that crazy laugh, cause you haven't left the parking lot</p>
            <br>
            <p>G</p>
            <p>Time is short, and here's the damned thing about it</p>
            <p>Dm                      F     C</p>
            <p>You're gonna die, gonna die for sure</p>
            <p>G</p>
            <p>You can learn to live with love or without it</p>
            <p>Dm              F</p>
            <p>But there ain't no cure</p>
            <br>
            <p>CHORUS:</p>
            <p>        C  F  Bb  F                        C  F  Bb  F</p>
            <p>There's just a slow turning … ……from the inside out</p>
            <p>A slow turning baby but you come about</p>
            <p>A slow learning but you learn to sway, a hey, hey, hey</p>
            <p>A slow turning baby not fade away, not fade away, not fade away</p>
            </article>
            <br>
            <h2>Video Lesson:</h2>
            <iframe class="video-lesson" src="https://www.youtube.com/embed/s62fUkKKEa0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
    </div>
    <div class="scroll-up-container">
        <div class="scroll-up" onclick="scrollUp()">
            Back to top
        </div>
    </div>
<%- include('../partials/footer') -%>