<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <article class="about">
            <h1>Oops! Looks like this page is still under construction. </h1>
            <p>    
                <a href="/">Return to the home page by clicking here.</a>
            </p>
        </article>
    </div>
<%- include('../partials/footer') -%>